<div class="animated fadeIn fast">

    <!-- Linking -->
    <div class="linking">
        <div class="container">
            <ol class="breadcrumb">
                <li><a style="cursor:pointer;" [routerLink]="['/home']">Home</a></li>
                <li class="active">Recuperar Contraseña</li>
            </ol>
        </div>
    </div>

    <section>
        <div class="container">

            <div class="order-success">
                <i class="fa fa-unlock-alt"></i>
                <h6>Ingrese su Email para enviarle una contraseña provisoria</h6>
                <p>Usted podra cambiar la contraseña posteriormente, o seguir utilizando la asignada.</p>

                <form #myForm="ngForm" novalidate autocomplete="off">

                    <div class="col-md-12">
                        <!--<div class="col-md-2">&nbsp;</div>-->
                        <div class="col-md-12" align="center">
                            <div class="row">
                                <div class="form-group">
                                    <label for="email">&nbsp;</label>
                                    <input class="form-control" name="email" [(ngModel)]="userEmail"
                                           pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,3}$" maxlength="50"
                                           placeholder="Email" type="email" #email="ngModel" required />

                                    <p *ngIf="email.errors && (email.dirty || email.touched)" class="text-danger">
                                        Email es requerido
                                    </p>
                                </div>
                            </div>
                        </div>
                        <!--<div class="col-md-2">&nbsp;</div>-->
                    </div>

                    <div class="col-md-12">&nbsp;</div>

                    <div class="col-md-12">
                        <div class="col-md-3">&nbsp;</div>
                        <div class="col-md-6" align="center">
                            <div class="row">
                                <button class="btn btn-inverse text-center" style="text-align:center;" type="button"
                                        [disabled]="!myForm.form.valid"
                                        (click)="enviar()">
                                    Enviar
                                </button>
                            </div>
                        </div>
                        <div class="col-md-3">&nbsp;</div>
                    </div>

                </form>

                <div class="col-md-12">&nbsp;</div>

                <!--<input type="email" class="form-control" placeholder="Email" id="email" [(ngModel)]="email"
                       name="email" maxlength="100" pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,3}$" />

                <a class="btn-round" style="cursor:pointer;" (click)="enviar()">Enviar</a>-->
            </div>
        </div>
    </section>
</div>