<div class="animated fadeIn fast">
    <!-- Linking -->
    <div class="linking">
        <div class="container">
            <ol class="breadcrumb">
                <li><a style="cursor:pointer;" [routerLink]="['/home']">Home</a></li><li><a href="#">Home</a></li>
                <li class="active">Nosotros</li>
            </ol>
        </div>
    </div>

    <!-- Contact -->
    <section class="contact-sec padding-top-40 padding-bottom-80">
        <div class="container">

            <!-- Conatct -->
            <div class="contact">
                <div class="contact-form">

                    <div class="heading">
                        <h2>Nosotros</h2>
                        <hr />
                    </div>

                    <p class="animated fadeIn">
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.

                    </p>
                    

                    <br />
                    <br />
                    <br />
                    <br />

                </div>
            </div>
        </div>
    </section>
</div>



